body {
    font-family: Arial, sans-serif;
    background-color: #5ebba7;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.data-table th,
.data-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.data-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.data-table tr {
    background-color: #f2f2f2;
}

.data-table tr:hover {
    background-color: #ddd;
}


.result-box {
    margin-inline: auto;
    width: 50%;
    margin-top: 20px;
    padding: 10px;
    background-color: #69b4c2;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px #aaa;
    position: relative;
    text-align: center;
    display: none;
}
/* ... (existing code) ... */

.loader {

    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    position: relative;
}

.object-data {
    display: none; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


